body {
  margin: 0;
  font-family: FF Bau Medium, san-serif;
  background-color: #fcfcf9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
